---
layout: page
title: Projects
permalink: /projects/
---

<div class="home">

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <article>
          <section class="post-info">
            <span class="post-meta">{{ post.date | date: "%-d/%m/%Y" }}</span>

            <h2>
              <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
            </h2>

            {% for category in post.categories %}
              <span class="post-category">{{ category }}</span>
            {% endfor %}
          </section>

          <section class="post-thumbnail">
            <img src="{{ post.thumb | prepend: site.baseurl }}">
          </section>

        </article>
      </li>
    {% endfor %}
  </ul>

</div>
