<h1 class="page-heading">Developer, Entrepreneur & Motion Designer</h1>

<h2>About</h2>

<div class="about-left">
  <p>
    Graduated in Computer Science from UFSCar (Federal University of São Carlos), 2007 and specialized in Cinema, Video & Photography from Anhembi Morumbi, 2012.
  </p>
  <p>
    Worked as test team leader on Accenture, as a project manager on Via Gutenberg, as web developer on eZly, as motion designer on Visualfarm and as a CTO on 99jobs.com. Nowadays works as a lead developer on Neue Labs, a venture studio.
  </p>
  <p>
    Due to his multi-interest he finds entrepreneurship a way to innovate on any area, so he dedicates a lot to learn about product development and  lean startup.
  </p>
  <p>
    Loves the Ruby way of coding to make programmers happy, and to let it more understandable. Also believes that JavaScript can conquer the world, ubiquitous in any device with internet access. And this is the joy of IT future: to be present all the time.
  </p>
  <p>
    He was born at Chapecó/SC - Brazil in September 29 1985. A fluent English speaker who likes to read books, comics, watch movies and play videogames. But most of his spare time is spent riding a bike. A fixed gear, steel frame, no brakes bike.
  </p>
</div>

<div class="about-right">
  <p>William Hitoshi Kurosawa</p>
  <div id="gravatar"></div>
</div>

<script>
  var container = document.getElementById('gravatar');
  var content = '<img src="' + get_gravatar('wkurosawa@gmail.com', 300) + '" />';
  container.innerHTML = content;
</script>